.body
  .container_12
    .header
      .logo
        = link_to image_tag('weblogo.png'), root_path
      .login
        = semantic_form_for :user do |form|
          = form.input :email, :required => false, :label => "email: "
          = form.input :password, :required => false, :label => "password:"
      .signup_link
        = link_to "CLICK HERE TO SIGN UP!", new_user_registration_path
    .clearboth
    .main_panel
      %table.tabs{:cellspacing => 0,:cellpadding => 0,:align => 'center'}
        %tr
          %td.nav_tab=link_to "Why Join?", root_path + "#why_join"
          %td.nav_tab=link_to "Report a Save", root_path
          %td.nav_tab=link_to "Know the Laws", root_path
          %td.nav_tab=link_to "Contests", root_path
          %td.nav_tab=link_to "Our Ten Commandments", root_path
          %td.nav_tab=link_to "Contact Us", root_path
      = image_tag 'mainimg1.png'
      .clearboth
      .learn_more
        = image_tag 'learnmoreheader.png'
        .learn_more_blurb
          = link_to "Should you fight a traffic ticket or just pay it?"
        .learn_more_blurb
          = link_to "Millions in uncollected parking tickets and fines"
        .learn_more_blurb
          = link_to "What is the average cost of a parking ticket?"
        .clearboth
  .first_ticket
    .container_12
      = image_tag 'firstticketheader.png'
      %p
        On July 16, 1935, hundreds of people gathered in downtown Oklahoma City to watch as 150 new parking meters were installed. The meters charged a nickel per hour. The businesses were elated, the drivers were outraged and the legality of parking meters was fought in the courts. Within months cities around the world began installing their own meters.
    .clearboth
  .footer
    .container_12
      %table.tabs{:cellspacing => 0,:cellpadding => 0,:align => 'center'}
        %tr
          %td.footer_tab=link_to "ABOUT US", root_path
          %td.footer_tab=link_to "REPORT A SAVE", root_path
          %td.footer_tab=link_to "LEARN THE LAWS", root_path
          %td.footer_tab=link_to "MONTHLY CONTESTS", root_path
          %td.footer_tab=link_to "ADDITIONAL INFO", root_path
          %td.footer_tab=link_to "CONTACT US", root_path
