.body
  .container_12
    .header
      .logo
        = link_to image_tag('weblogo.png'), root_path
      .login
        = semantic_form_for :user do |form|
          = form.input :email, :required => false, :label => "email: "
          = form.input :password, :required => false, :label => "password:"
      .signup_link
        = link_to "CLICK HERE TO SIGN UP!", new_user_registration_path
    .clearboth
    .main_panel
      %table.tabs{:cellspacing => 0,:cellpadding => 0,:align => 'center'}
        %tr
          %td.nav_tab=link_to "Why Join?", root_path
          %td.nav_tab=link_to "Report a Save", root_path
          %td.nav_tab=link_to "Know the Laws", root_path
          %td.nav_tab=link_to "Contests", root_path
          %td.nav_tab=link_to "Our Ten Commandments", root_path
          %td.nav_tab=link_to "Contact Us", root_path
      = image_tag 'mainimg1.png'
