.container_12.main_panel
  = image_tag 'mainimg1.png'
  .clearboth
  .learn_more
    = image_tag 'learnmoreheader.png'
    .learn_more_blurb
      = link_to "Should you fight a traffic ticket or just pay it?"
    .learn_more_blurb
      = link_to "Millions in uncollected parking tickets and fines"
    .learn_more_blurb
      = link_to "What is the average cost of a parking ticket?"
    .clearboth
.first_ticket
  .container_12
    = image_tag 'firstticketheader.png'
    %p
      On July 16, 1935, hundreds of people gathered in downtown Oklahoma City to watch as 150 new parking meters were installed. The meters charged a nickel per hour. The businesses were elated, the drivers were outraged and the legality of parking meters was fought in the courts. Within months cities around the world began installing their own meters.
  .clearboth
.container_12.why_join
  %a{:name => "why_join"}
  = image_tag 'whyjoinmeterimg.png'
  .text
    .title
      %strong No Ticket for Me - Why Join Up?
      %br
      Here at NTFM, we're striving to keep costs of parking down in the LA area.
    %p Most parking tickets cost a minimum of $50. Get five parking tickets in LA and your car could be booted. Covering tickets, late fees, boot-removal, towing charges and storage fees typically cost about $1500. We know that the government needs to reign in the state's debt, but on our shoulders? We here think that helping out our fellow parkers will do more good in the long run, and we're here to see that every good deed gets noticed.
    %p Unfortunately, you can't help other parkers on your own. You can be fined for placing a quarter in a stranger's meter. With a No Ticket membership, you are not only authorized to help out other No-Ticketers, they are now authorized to help you out of a jam!
    %p The best part is if you join and help prevent a parking ticket, all you have to do is register it into our database and you're automatically entered to win in our monthly sweepstakes. You can also be entered with every 25 referrals you make to our site!
    %p 
      %strong How's that for good karma?!
  .clearboth
  %p.join_today 
    =link_to "Join us today and get started!", new_user_registration_path
  .clearboth
.footer
  .container_12
    %table.tabs{:cellspacing => 0,:cellpadding => 0,:align => 'center'}
      %tr
        %td.footer_tab=link_to "ABOUT US", root_path
        %td.footer_tab=link_to "REPORT A SAVE", root_path
        %td.footer_tab=link_to "LEARN THE LAWS", root_path
        %td.footer_tab=link_to "MONTHLY CONTESTS", root_path
        %td.footer_tab=link_to "ADDITIONAL INFO", root_path
        %td.footer_tab=link_to "CONTACT US", root_path
