.container_12
  %h1 Report a Save

  = semantic_form_for @report do |form|
    = render :partial => "shared/errors_for", :locals => {:object => @report, :message => nil}
    = form.label :date
    \:
    = form.date_select :date, :order => [:month, :day, :year], :start_year => Time.now.year - 1,
                              :end_year => Time.now.year, :include_blank => false
    = form.input :code, :label => "Code on parked car: ", :required => false
    = form.label :notes, "Location of car and notes about the save: "
    = form.text_area :notes
    = form.submit "Report a Save"
