<!DOCTYPE html>
<html>
<head>
  <title>Noticketforme</title>
  <%= stylesheet_link_tag :all %>
  <%#= controller_stylesheet_link %>
  <%= javascript_include_tag 'jquery-1.4.4.min', 'application' %>
  <%= controller_javascript_include_tag %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>

</body>
</html>
